


@media (max-width:670px) {


  /* ボタンをレスポンシブ対応に */
  .twoColumn label{
    float: left;
    width:100%;
  }
  .fourColumn label{
    float: left;
    width:100%;
  }

  .q3block{
    float: left;
    width:100%;
  }

  /* トップラップのレスポンシブ対応 */

  .left-wrapper{
    width: 100%;
    /* background-color:#ffd372; */
    display:block;
    float: left;
  }
  /* 上部右の画像 */
  img.right_img{
    width: 80%;
    height: auto;
    margin-left: 10%;
  }

  /* 上部右 */
  .right-wrapper{
    width: 100%;
    /* background-color:#ffd372; */
    display: block;
  }

  footer{
    margin-bottom: 15%;
  }

}
