

/* 全ての要素に対して管理しやすいようにする */
*{
  box-sizing:border-box;
  /* display: block; */
}

body{
  padding:0;
  margin:0;
}

/* ヘッダー */
header img{
  width: 30%;
  height: auto;
}

header {
  width: 100%;
  top:0;
  height:200px;
  position:fixed;
  background-color:#ffd372;
  opacity:0.5;
}

/* 上部 */
.main-wrapper{
  background-color:#ffd372;
}
/* 上部タイトル文字の大きさ */
.title-wrapper h2{
  /* font-size: 300%; */
  /* フォントサイズを親要素ではなくスクリーンサイズにリサイズしてくれる */
  font-size: 5vw;
  margin:10px 0 ;
  font-family: 'Yu Gothic UI','ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
}
.title-wrapper h1{
  /* font-size: 400%; */
  font-size: 10vw;
  margin:10px 0 ;
  font-family: 'Yu Gothic UI','ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
}
/* 上部左 */
.left-wrapper{
  width: 50%;
  background-color:#ffd372;
  display: inline-block;
  float: left;
}
/* 上部右の画像 */
img.right_img{
  width: 100%;
  height: auto;
}

/* 上部右 */
.right-wrapper{
  width: 50%;
  background-color:#ffd372;
  display: inline-block;
}

/* 上部のボタン */
.btn input[type="radio"]{
 display: none;
}
/* ボタンをレスポンシブ対応にする */
.btn label{
  float: left;
  width:100%;
  font-size: 5vw;
}

.main-wrapper{
  margin-top: 120px;
  background-color:#ffd372;
}

/* 最下部の固定バナーセクション */
.fix_wrapper{
  background-color:#C0C0C0;
  position:fixed;
  width: 100%;
  height:60px;
  bottom: 0;
  opacity:0.5;
}

/* 質問項目を囲むセクション */
 .question_wrapper{
  background-color:#fff;
  width: 80%;
  margin: 0 auto;
  position: relative;

}
/* 質問事項の背景を白にする */

.content_wrapper{
  background-color:#ffd372;
  width: 100%;
}

.q1{
  margin-bottom: 20%;
  background-color:#ffff;
}
.q2{
  margin-bottom: 23%;
  background-color:#ffff;
}
.q3{
  margin-bottom: 50%;
  background-color:#ffff;
}
.q4{
  margin-bottom: 20%;
  background-color:#ffff;
}
.q5{
  margin-bottom: 20%;
  background-color:#ffff;
}

h2{
  font-size: 3vw;
}

p.number{
  /* margin: 10px 50%; */
  text-align: center;
  /* margin-top: 150px; */
}
p.text{
  /* margin: 10px 50%; */
  text-align: center;
}

 /* ラジオボタンを非表示にする */
.twoColumn input[type="radio"]{
  display: none;
}

 /* ラジオボタンを非表示にする */
.fourColumn input[type="radio"]{
  display: none;
}

/* ボタンをレスポンシブ対応にする */
.twoColumn label{
  float: left;
  width:50%;

}
.fourColumn label{
  float: left;
  width:50%;
}

/* 質問事項3のボタンをレスポンシブに対応する */
.q3block{
  float: left;
  width:50%;
  font-size: 1.5vw;
}

.q3block label{
  width:100%;
}



label {
  display: inline-block;
  padding:9px 0;
  margin:1% 0;
	vertical-align:middle;
	box-sizing:border-box;
	border:2px solid #f69e64;
	border-radius:8px;
	text-align:center;
	font-weight:bold;
  background-color:#fbf2d9;
	cursor:pointer;

  /* float: left; */

}

/* 診断結果のボタンのデザイン */
.button{
  width:80%;
  padding:9px 0;
  margin: 10% 10%;
	vertical-align:middle;
	box-sizing:border-box;
	border:2px solid #fbf2d9;
	border-radius:8px;
	text-align:center;
	font-weight:bold;
  font-size: 3vw;
  background-color:#fbf2d9;
	cursor:pointer;
}

/* 診断結果のボタンマウスオーバー時のデザイン */
.button:hover{
  background: #f69e64;/* マウス選択時の背景色を指定する */
  color: #FFF; /* マウス選択時のフォント色を指定する */
}

/* 注意書きに関する */
.attention{
  margin: 10% 5%;
  background: #fff;
  padding:5% 5%;
  font-family: 'ヒラギノ角ゴシック','Hiragino Sans','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
}

.attention li{
  font-size:13px;
  color:#57544e;
}

.attention h3,h4,h5{
  color:#57544e;
}

.iso{
  margin: 5% 5%;
  background: #fff;
  padding:5% 5%;
  font-size:13px;
  color:#57544e;
  font-family: 'ヒラギノ角ゴシック','Hiragino Sans','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
}

.iso h5{
  color:#57544e;

}

.info{
  background-color:#E9E9E9;
  width: 100%;

}

/* ボタンクリック */
input[type="radio"]:checked + label {
  background: #f69e64;/* マウス選択時の背景色を指定する */
  color: #FFF; /* マウス選択時のフォント色を指定する */
}

/* ボタンマウスオーバー */
label:hover {
  background-color: #f69e64;/* マウスオーバー時の背景色を指定する */
}

/* フッター */
.flex-list{
  display: flex;
  font-size: 13px;
  width:350px;
  margin: 0 auto;
}

footer{
  font-size: 13px;
  text-align: center;
  background-color: #fff;
  margin-bottom: 10%;
  color:#57544e;
}


ul{
  list-style: none;
  display: inline-block;
}


/*
link{
  display:inline-block;
  float: left;
} */
